body {
    font-family: Arial, sans-serif;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
.alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-info {
    background-color: #2196F3; /* Blue */
}
