body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 100px;
    max-width: 960px;
}
header {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile {
    padding: 20px 0;
}
.profile h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}
.profile p {
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}
.review {
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.review:last-child {
    margin-bottom: 0;
}
.review h3 {
    margin-top: 0;
}
.review p {
    margin: 5px 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #2f5f9a9b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #215f9d9a;
}
.application {
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.application:last-child {
    margin-bottom: 0;
}
.application h3 {
    margin-top: 0;
}
.application p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 16px;
    line-height: 1.6;
    border-radius: 1px;
}
