<!DOCTYPE html>
<html>
<head>
    <title>Ease Lease - Login/Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Welcome to Ease Lease</h1>
    
    <div id="login-form">
        <h2>Login</h2>
        <form onsubmit = 'return handleLogin();'>
            <input type="text" id="login-username" placeholder="Username" required>
            <input type="password" id="login-password" placeholder="Password" required>
            <select name="type" id="login-type">
                <option value="tenant">tenant</option>
                <option value="landlord">landlord</option>
            </select>
            <button type="submit" id="login-btn">Login</button>
        </form>
    </div>
    
    <div id="register-form">
        <h2>Register</h2>
        <form>
            <input type="text" id="register-username" placeholder="Username" required>
            <input type="password" id="register-password" placeholder="Password" required>
            <input type="phone-number" id="register-phone-number" placeholder="Phone number" required>
            <input type="first-name" id="register-first-name" placeholder="First Name" required>
            <input type="last-name" id="register-last-name" placeholder="Last Name" required>
            <button type="submit" id="register-btn">Register</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>