<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/listings_detail.css') }}">
</head>
<body>
    <header>
        <h1>Listing Details</h1>
    </header>
    <main>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <section id = 'detail'>
            
            <p>Description: {{ listings_detail[0].description }}</p>
            <p>Room Type: {{ listings_detail[0].room_type}}</p>
            <p>Price: {{listings_detail[0].price}}</p>
            <p>From Date: {{ listings_detail[0].from_date }}</p>
            <p>To Date: {{ listings_detail[0].to_date }}</p>
            <p>Location: {{ listings_detail[0].longitude }}, {{ listings_detail[0].latitude }}</p>
            <button id="apply-btn">Apply</button>
        </section>

        <div id="application-section" style="display:none;">
            <form id="application-form" action="{{ url_for('submit_application_route') }}" method="post">
                User Name: <input type="text" value="{{ session['user_name'] }}" readonly>
                Phone Number:  <input type="text" value="{{ session['phone_number'] }}" readonly>
                User ID: <input type="text" name='user_id' id='user_id' value="{{ session['user_id'] }}" readonly>
                Listing ID: <input type="text" name='listing_id' id='listing_id' value="{{ listings_detail[0].listing_id }}" readonly>
                Current Price: <input type="text" name='current_price' id='current_price' value="{{ listings_detail[0].price }}" readonly>
                Your Bid(optional): <input type="text" name="bid_price" id="bid_price" placeholder="Enter your bid" title="Your bid must be higher than the current price.">
                <button type="button" id="confirm-bid-btn">Confirm Bid</button>
                <button type="submit">Submit Application</button>
            </form>
        </div>
        

        <section id = 'rating'>

            <h2>Recent Anonymous Ratings</h2>
            <ul id = 'rating container'>
                {% for rating in listings_rating %}
                <li class = 'rating'>
                    <p>Overall: {{ rating.scores_rating }}</p>
                    <p>Description Accuracy: {{ rating.scores_accuracy }}</p>
                    <p>Room Cleanliness: {{ rating.scores_cleanliness}}</p>
                    <p>Check-in: {{ rating.scores_checkin }}</p>
                    <p>Communication: {{ rating.scores_communication }}</p>
                    <p>Location: {{ rating.scores_location }}</p>
                    <p>Value: {{ rating.scores_value }}</p>
                </li>
                {% endfor %}
            </ul>

        </section>

        <section id = 'review'>

            <h2>Recent Customer Reviews</h2>
            <ul id = 'review container'>
                {% for review in listings_review %}
                <li class = 'review'>
                    <p>Name: {{ review.reviewer_name }}</p>
                    <p>Comment: {{ review.content }}</p>
                </li>
                {% endfor %}
            </ul>

        </section>

    </main>
    <script src="{{ url_for('static', filename='js/listings_detail.js') }}"></script>
</body>

</html>
