<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Properties</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/listings.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <a class="nav-link" href="{{ url_for('tenant_profile', user_id=session['user_id']) }}">My Profile</a>
        </div>
    </nav>
    <div class="main-content">
    <h1>Top Properties</h1>
    <form id="search-filter-form">
        <label for="search_input">Search:</label>
        <input type="text" id="search_input" name="search_input" placeholder="Search Listings">
        <label for="max_price">Maximum Price:</label>
        <input type="number" id="max_price" name="max_price">
      
        <label for="room_type">Room Type:</label>
        <select id="room_type" name="room_type">
          <option value="Private room">Private room</option>
          <option value="Entire home/apt">Entire home/apt</option>
          <option value="Shared room">Shared room</option>
          <option value="Hotel room">Hotel room</option>
        </select>
      
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
      
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">

        <label for="min_rating">Minimum Rating:</label>
        <input type="number" id="min_rating" name="min_rating">
      
        <button type="submit">Search and Filter</button>
    </form>
    <br>

    <ul id = "listings-container">
        {% for listing in listings %}
            <!-- <li> -->
            <li class = 'listing' data-id = "{{ listing.listing_id }}">
                <h2>{{ listing['room_type'] }}</h2>
                <p><strong>Description: </strong>{{ listing['description'] }}</p>
                <p><strong>Rating: </strong>{{ listing['scores_rating'] }}</p>
                <p><strong>Price: </strong>${{ listing['price'] }}</p>
                <p><strong>Available from: </strong>{{ listing['from_date'] }} to {{ listing['to_date'] }}</p>
                <img class="propertyImage" src="{{ listing.image_url or url_for('static', filename='images/default_property.png') }}" alt="Property Image">
                <button onclick = "location.href = '/listings_detail/{{listing.listing_id}}'">View Details</button>
            </li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/listings.js') }}"></script>
</div>
</body>
</html>
