<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenant Profile</title>
    <script src="../js/tenant_profile.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tenant_profile.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>My Profile</h1>
            <img id="pokemonImage" src="" alt="Random Pokémon">
            <div>
                <!-- Search and other filters can go here -->
            </div>
        </header>

        <section class="profile">
            <h1>Welcome, <span id="firstName">{{ user_info['first_name'] }}</span> <span id="lastName">{{ user_info['last_name'] }}</span></h1>
            <p><strong>ID:</strong> <span id="userId">{{ user_info['user_id'] }}</span></p>
            <p><strong>Phone:</strong> <span id="phoneNumber">{{ user_info['phone_number'] }}</span></p>
            <p><strong>Balance:</strong> <span id="accountBalance">${{ user_info['account_balance'] }}</span></p>
        </section>
        
        <section>
            <h2>My applications</h2>
            <div id = "applications-container">
                {% if applications %}
                    <ul>
                        {% for application in applications %}
                            <li class = 'application' data-id = "{{application.application_id}}">
                                <div><strong>Status: </strong>{{ application.status }}</div>
                                <div><strong>Room Type: </strong>{{ application.room_type}}</div>
                                <div><strong>From Date: </strong>{{ application.from_date}}</div>
                                <div><strong>To Date: </strong>{{ application.to_date}}</div>
                                <button class = 'withdraw-btn' onclick = "withdrawApplication('{{ application.application_id }}')">Withdraw</button>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Book your next trip now!</p>
                    <a href="/listings" class="btn">Go to Listings</a>
                {% endif %}
            </div>
        </section>

        <section>
            <h2>My Reviews</h2>
            <div id="reviews">
                {% for review in reviews %}
                    <article class="review">
                        <h3>{{ review['reviewer_name'] }}</h3>
                        <p>{{ review['content'] }}</p>
                    </article>
                {% else %}
                    <p>You have no review now.</p>
                    <a href="/listings" class="btn">Go to Listings</a>
                {% endfor %}
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/tenant_profile.js') }}"></script>
</body>
</html>
